body {
  font-family: sans-serif;
  margin: 0px 0px 0px 0px;
  padding: 0px;
  background-color: #294644;
  color: #d6d4ca;
  font-size: 100%;
}

a:link {
  text-decoration: none;
  color: #d6d4ca;
}

a:visited {
  text-decoration: none;
  color: #d6d4ca;
}

a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: none;
}

img {
  width: 15%;
}

.banner {
  background-image: linear-gradient(#294644, #504b2f);
  text-align: center;
  height: 50vh;
}

.banner--header {
  position: relative;
  margin-top: 5vh;
  padding-top: 1%;
  font-size: 8vmin;
  z-index: 1;
}

.banner--subhead {
  position: relative;
  color:#af825b;
  font-size: 4vmin;
  z-index: 1;
}

.banner--image {
  position: relative;
  border-radius: 50%;
  z-index: 1;
  height: 20vmin;
  width: auto;
}

.shape img {
  position: absolute;
  width: 100%;
  z-index: 0;
}

.shape .shape1 {
 right: -160px;
 top: -50px;
 width: 450px;
 opacity: .3;
 transform-origin: center;
 animation: shape linear 30s infinite reverse;
}

.shape .shape2 {
  left: -125px;
  top: 175px;
  width: 450px;
  opacity: .1;
  transform-origin: center;
  animation: shape linear 30s infinite reverse;
 }

@keyframes shape {
  100% {
    transform: rotate(180deg);
  }
}

.shape .shape3 {
  top: 0;
  left: -80px;
  width: 250px;
  opacity: .05;
  transform-origin: center;
  animation: shape3 linear 20s infinite;
  transform: translate(-200px, -100px);
 }

 @keyframes shape3 {
   100% {
     transform: translate(1300px, 600px) rotate(360deg);
   }
 }

 .shape .shape4 {
  bottom: 400px;
  left: -850px;
  width: 150px;
  opacity: .2;
  transform-origin: center;
  animation: shape4 linear 20s infinite 5s;
  transform: translate(700px, 80px);
 }

 @keyframes shape4 {
   100% {
     transform: translate(1200px, -800px) rotate(360deg);
   }
 }

 .shape .shape5 {
  top: -500px;
  left: 100px;
  width: 700px;
  opacity: .2;
  transform-origin: center;
  animation: shape5 linear 360s infinite;
 }

 @keyframes shape5 {
   100% {
     transform: rotate(360deg)
   }
 }

.sidebar {
  background-image: linear-gradient(#504b2f , #294644);
  float: right;
  padding-right: 1%;
  padding-left: 1%;
  height: 100vh;
  width: 8vw;
  font-size: 1.5vw;

}

.sidebar h2 {
  position: relative;
  margin-top: 0px;
  text-decoration: underline;
  z-index: 1;
}

.sidebar p {
  position: relative;
  z-index: 0;
  margin: 5%;
}

.project-container {
  display: flex;
  width: 86vw;
  margin: .5%;
}

#projects {
  position: relative;
  z-index: 0;
  text-align: left;
  font-size: 4rem;
  margin-left: 3%;
}

.project {
  position: relative;
  z-index: 0;
  border: 2px solid black;
  margin: 1%;
  padding: 1%;
  min-width: 25%;
  background-color: #00000036;
}

.project img {
  width: 95%;
  border: 5px solid #504b2f;
}

.project--button {
  background-color: #504b2f;
  padding: 5px;
  border: 1px solid black;
  width: 9.5vmin;
  min-width: 90px;
  transition: .25s;
}

.project--button:hover {
  transform:scale(110%);
}

.sections {
  width: 82vw;
  margin: 1%;
  padding: 1%;
  border: 3px solid black;
  background-color: #00000036;
}

.sections h2 {
  text-decoration: underline;
}

.line {
  border-top: 2px dotted #d6d4ca;
  width: 100%;
  height: 2px;
}

#oregon {
  color:rgb(107, 155, 107);
}
